@using CarShop.CarStorageService.Grpc
@using CarShop.Web.Extensions
@model CarShop.Web.Models.Catalog.ConfigurationViewModel

@{
double totalPrice = 0; // Змінна для зберігання загальної суми
double totalCost = 0;
}

@if (Model.Car.BigImageUrls.Count > 0)
{
    <div id="carouselExampleIndicators" class="carousel slide" style="">
        <div class="carousel-indicators">
            @for (int i = 0; i < Model.Car.BigImageUrls.Count; i++)
            {
                @if (i == 0)
                {
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="@i" class="active" aria-current="true" aria-label="Slide @(i + 1)"></button>
                }
                else
                {
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="@i" aria-label="Slide @(i + 1)"></button>
                }
            }

        </div>
        <div class="carousel-inner">
            @foreach (string imgUrl in Model.Car.BigImageUrls)
            {
                <div class="carousel-item @(imgUrl == Model.Car.BigImageUrls[0] ? "active" : "")">
                    <img src="@imgUrl" style="max-height: 400px; max-width: 1000px;" class="d-block  mx-auto">
                </div>
            }
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
}

<table class="table table-striped" style="font-size: 6mm;">
    <tbody>
    <tr>
        <td colspan="2" style="text-align: center; font-weight: bold;">Дані про автомобіль</td>
    </tr>
    <tr>
        <td>Марка</td>
        <td>@Model.Car.Brand</td>
    </tr>
    <tr>
        <td>Модель</td>
        <td>@Model.Car.Model</td>
    </tr>

    <tr>
        <td>Колір</td>
        <td>@Model.Car.Color</td>
    </tr>
    @if (Model.Car.FuelType != Car.Types.FuelType.Electric)
    {
        <tr>
            <td>Об'єм двигуна</td>
            <td>@Model.Car.EngineCapacity л</td>
        </tr>
    }
    <tr>
        <td>Вид корпусу</td>
        <td>@Model.Car.CorpusType.ToDisplayString()</td>
    </tr>
    <tr>
        <td>Вид палива</td>
        <td>@Model.Car.FuelType.ToDisplayString()</td>
    </tr>
    <tr>
        <td>Кількість одиниць товару складі</td>
        <td>@Model.Car.Count</td>
    </tr>
    @if(Model.Configuration.AirConditioner||Model.Configuration.HeatedDriversSeat||Model.Configuration.SeatHeightAdjustment||Model.Configuration.HasDifferentCarColor){
    <tr>
        <td colspan="2" style="text-align: center; font-weight: bold;">Додаткова комплектація</td>
    </tr>
    @foreach (var option in Model.Car.AdditionalCarOptions)
    {
        @if (@Model.Configuration.AirConditioner == true && option.Type == AdditionalCarOption.Types.Type.AirConditioner)
        {
            <tr>
                <td>Кондиціонер</td>
                <td>@option.Price.ToDisplayString() грн</td>
                @{ totalPrice += option.Price; }
            </tr>
        }

        @if (Model.Configuration.HeatedDriversSeat == true && option.Type == AdditionalCarOption.Types.Type.HeatedDriversSeat)
        {
            <tr>
                <td>Підігрів сидіння</td>
                <td>@option.Price.ToDisplayString() грн</td>
                @{ totalPrice += option.Price; }
            </tr>
        }

        @if (Model.Configuration.SeatHeightAdjustment == true && option.Type == AdditionalCarOption.Types.Type.SeatHeightAdjustment)
        {
            <tr>
                <td>Регулювання сидіння</td>
                <td>@option.Price.ToDisplayString() грн</td>
                @{ totalPrice += option.Price; }
            </tr>
        }

        @if (Model.Configuration.HasDifferentCarColor && option.Type == AdditionalCarOption.Types.Type.DifferentCarColor)
        {
            <tr>
                <td>Колір</td>
                <td>
                    <input type="color" disabled="disabled" class="form-control form-control-color" value="@(Model.Configuration.HasDifferentCarColor ? Model.Configuration.DifferentCarColor : false)"> @option.Price.ToDisplayString() грн
                </td>
                @{ totalPrice += option.Price; }
            </tr>
        }

    }
    }
    <tr>
        <td colspan="2" style="text-align: center; font-weight: bold;">Ціна</td>
    </tr>
    <tr>
        <td>Ціна за стандартну комплектацію</td>
        @if (Model.Car.Count > 0)
        {
            <td style="background-color: rgb(141, 248, 141);">@Model.Car.PriceForStandartConfiguration.ToDisplayString() грн</td>
        }
        else
        {
            <td class="text-bg-secondary">По предзаказу</td>
        }
    </tr>
    <tr>
        <td>Ціна за додаткову комплектацію</td>
        @if (Model.Car.Count > 0)
        {
            <td style="background-color: rgb(141, 248, 141);"> @totalPrice.ToDisplayString() грн</td>
        } 
        else
        {
            <td class="text-bg-secondary">По предзаказу</td>
        }
    </tr>
    <tr>
        @{
            totalCost = (@totalPrice + @Model.Car.PriceForStandartConfiguration) * 1.2;
        }
        <td>Ціна за все з податком</td>
        @if (Model.Car.Count > 0)
        {
            <td style="background-color: rgb(141, 248, 141);"> @($"{totalCost.ToDisplayString(2)} грн") </td>
        }
        else
        {
            <td class="text-bg-secondary">По предзаказу</td>
        }
    </tr>
    </tbody>
</table>