@model CatalogViewModel
<div class="text-end pt-2">
	<div class="btn-group">
		@* Критерий сортировки *@
		<div class="dropdown me-2">
			<button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
				@Model.GetCarsOptions.SortBy!.Value.ToDisplayString()
			</button>
			<ul class="dropdown-menu">
				<li><a class="dropdown-item" href="#" onclick="setSortBy(0, event)">Марка</a></li>
				<li><a class="dropdown-item" href="#" onclick="setSortBy(1, event)">Объём двигателя</a></li>
				<li><a class="dropdown-item" href="#" onclick="setSortBy(2, event)">Вид топлива</a></li>
				<li><a class="dropdown-item" href="#" onclick="setSortBy(3, event)">Вид корпуса</a></li>
				<li><a class="dropdown-item" href="#" onclick="setSortBy(4, event)">Цена</a></li>
			</ul>
		</div>
		@* Тип сортировки *@
		<div class="dropdown">
			<button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
				@Model.GetCarsOptions.SortType!.Value.ToDisplayString()
			</button>
			<ul class="dropdown-menu">
				<li><a class="dropdown-item" href="#" onclick="setSortType(0, event)">По возрастанию</a></li>
				<li><a class="dropdown-item" href="#" onclick="setSortType(1, event)">По убыванию</a></li>
			</ul>
		</div>
	</div>
</div>


<div class="container text-center">
	<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 my-2 g-4">
		@foreach (Car car in Model.Cars)
		{
			<div class="col">
				<div class="card mb-3">
					<img src="@car.ImageUrl" style="height: 300px;" class="img-fluid rounded" alt="...">
					<div class="card-body">
						<h5 class="card-title">@car.Brand @car.Model</h5>
						<p class="card-text">Цена: <b class="text-success">@car.PriceForStandartConfiguration</b> <span class="text-secondary">+ @car.TaxForPriceForStandardConfiguration</span> грн.</p>
						<a asp-controller="Catalog" asp-action="Index" asp-route-id="@car.Id" class="btn btn-primary">Подробнее</a>
					</div>
				</div>
			</div>
		}
	</div>
</div>

@if (Model.Cars.Count() == 0)
{
	@if (Model.IsSearchResultsPage)
	{
		@* То, что отображается, если поиск не дал результатов *@
		<div class="alert alert-secondary m-5">Результаты не найдены.</div>
	}
	else
	{
		@* То, что отображается, если товаров нет *@
		<div class="alert alert-secondary m-5">Товаров пока нет.</div>
	}
}

@if (Model.PagesCount > 1)
{
	<div class="btn-toolbar mx-auto" role="toolbar" aria-label="Toolbar with button groups">
		<div class="btn-group mx-auto pb-3" role="group" aria-label="First group">
			@for(int i = 1; i <= Model.PagesCount; i++)
			{
				@if (i == Model.CurrentPage)
				{
					<a asp-controller="Catalog" asp-action="Index" asp-route-page="@i" class="btn btn-primary page-item active" style="font-size: 8mm;">@i</a>
				}
				else
				{
					<a asp-controller="Catalog" asp-action="Index" asp-route-page="@i" class="btn btn-primary" style="font-size: 8mm;">@i</a>
				}
			}
		</div>
	</div>
}

@section Scripts
{
	<script>
		function setSortBy(sortByIndex, event) {
			event.preventDefault();
			const currentUrl = new URL(window.location.href);
			currentUrl.searchParams.set('sort_by', sortByIndex.toString());
			window.location.href = currentUrl.toString();
		}

		function setSortType(sortTypeIndex, event) {
			event.preventDefault();
			const currentUrl = new URL(window.location.href);
			currentUrl.searchParams.set('sort_type', sortTypeIndex.toString());
			window.location.href = currentUrl.toString();
		}
	</script>
}