@using CarShop.ServiceDefaults.ServiceInterfaces.AdminService
@using CarShop.ServiceDefaults.ServiceInterfaces.CarStorage
@model CarShop.ServiceDefaults.ServiceInterfaces.CarStorage.Car
@{
	Car car = Model;
	bool renderDeleteButton = User.IsInRole(Role.Admin.Car.Delete);
	bool renderEditButton = User.IsInRole(Role.Admin.Car.Edit);
}

@if (renderDeleteButton || renderEditButton)
{
	<div class="mb-2 py-2 text-center bg-body-secondary">
		@if (renderEditButton)
		{
			<a asp-controller="admin" asp-action="editcar" asp-route-id="@car.Id" class="btn btn-success">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil"
				     viewBox="0 0 16 16">
					<path
						d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325" />
				</svg> Редактировать</a>
		}
		
		@if (renderDeleteButton)
		{
			<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-basket" viewBox="0 0 16 16">
					<path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1v4.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 13.5V9a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h1.217L5.07 1.243a.5.5 0 0 1 .686-.172zM2 9v4.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V9zM1 7v1h14V7zm3 3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 4 10m2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 6 10m2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 8 10m2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5m2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5"/>
				</svg> Удалить товар</button>

			<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="staticBackdropLabel">Підтвердити видалення</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							Ви впевнені, що хочете видалити автомобіль з каталогу?

						</div>
						<p id="errorMessage" class="text-danger" style="display: none; text-align: center;"> Видалити товар не вдалося.</p>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Ні</button>
							<button type="button" class="btn btn-primary" onclick="confirmDeletion()">Так</button>
						</div>
					</div>
				</div>
			</div>
		}
	</div>
}

@if (car.BigImageURLs.Length > 0)
{
	<div id="carouselExampleIndicators" class="carousel slide" style="background-color: darkgrey;">
		<div class="carousel-indicators">
			@for (int i = 0; i < car.BigImageURLs.Length; i++)
			{
				@if (i == 0)
				{
					<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="@i" class="active" aria-current="true" aria-label="Slide @(i + 1)"></button>
				}
				else
				{
					<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="@i" aria-label="Slide @(i + 1)"></button>
				}
			}

		</div>
		<div class="carousel-inner">
			@foreach (string imgUrl in car.BigImageURLs)
			{
				<div class="carousel-item @(imgUrl == car.BigImageURLs[0] ? "active" : "")">
					<img src="@imgUrl" style="max-height: 400px; max-width: 1000px;" class="d-block  mx-auto">
				</div>
			}
		</div>
		<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>
	</div>
}

<table class="table table-striped" style="font-size: 6mm;">
	<tbody>
		<tr>
			<td>Марка</td>
			<td>@car.Brand</td>
		</tr>
		<tr>
			<td>Модель</td>
			<td>@car.Model</td>
		</tr>

		<tr>
			<td>Цвет</td>
			<td>@car.Color</td>
		</tr>
		@if (car.FuelType != FuelType.Electric)
		{
			<tr>
				<td>Объём двигателя</td>
				<td>@car.EngineCapacity л</td>
			</tr>
		}
		<tr>
			<td>Вид корпуса</td>
			<td>@car.CorpusType.ToDisplayString()</td>
		</tr>
		<tr>
			<td>Вид топлива</td>
			<td>@car.FuelType.ToDisplayString()</td>
		</tr>
		<tr>
			<td>Количество единиц товара на складе</td>
			<td>@car.Count</td>
		</tr>
		<tr>
			<td>Цена за стандартную комплектацию</td>
			<td style="background-color: rgb(141, 248, 141);">@car.PriceForStandartConfiguration грн</td>
		</tr>
	</tbody>
</table>
<a asp-controller="Catalog" asp-action="Configure" asp-route-id="@car.Id" 
   style="height: 50px; font-size: 6mm;" class="btn btn-outline-primary w-100 mb-2">Конфигурировать</a>

@section Scripts
{
<script>
	async function confirmDeletion() {
		const errorMessage = document.getElementById('errorMessage');

		try {
			// Замените {id} на идентификатор, который будет предоставлен backend
			const response = await fetch(`/api/admin/car/@car.Id`, { // backend должен подставить id
				method: 'DELETE'
			});

			if (response.status === 200) {
				window.location.href = '/catalog';
			} else {
				errorMessage.style.display = 'block';
			}
		} catch (error) {
			errorMessage.style.display = 'block';
		}
	}
</script>
}
